@{
    ViewData["Title"] = "CON_ContactAddEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Data
@using AdminPanel.Areas.CON_Contact.Models;
@model CON_ContactModel

<div class="row">
    <div class="col-md-12">
        <h4>@TempData["ContactInsertMsg"]</h4>
        <h4>@TempData["ContactUpdateMsg"]</h4>
        <form method="post" asp-area="CON_Contact" asp-controller="CON_Contact" asp-action="Save" enctype="multipart/form-data">
            @Html.HiddenFor(x=>x.ContactID)
            @Html.HiddenFor(x=>x.PhotoPath)
             <div class="form-group">
                <label><span class="text-danger">*</span>Country Name</label>
                <select class="form-control" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))" onchange="fnOnStateChange();">
                        <option value="">Select Country</option>
                    </select>
                <span asp-validation-for="CountryID" class="text-danger"></span>
                </div>

                 <div class="form-group">
                <label><span class="text-danger">*</span>State Name</label>
                <select class="form-control" asp-for="StateID" asp-items="@(new SelectList(ViewBag.StateList,"StateID","StateName"))" onchange="fnOnCityChange();">
                        <option value="">Select State</option>
                    </select>
                <span asp-validation-for="StateID" class="text-danger"></span>
                </div>

                 <div class="form-group">
                <label><span class="text-danger">*</span>City Name</label>
                <select class="form-control" asp-for="CityID" asp-items="@(new SelectList(ViewBag.City1List,"CityID","CityName"))">
                        <option value="">Select City</option>
                    </select>
                <span asp-validation-for="CityID" class="text-danger"></span>
                </div>

            <div class="form-group">
                <label><span class="text-danger">*</span>Name</label>
                <input type="text" class="form-control" placeholder="Enter Contact Name" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label><span class="text-danger">*</span>Email</label>
                <input type="text" class="form-control" placeholder="Enter Email" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><span class="text-danger">*</span>Mobile No.</label>
                <input type="text" class="form-control" placeholder="Enter Contact Number" asp-for="MobileNo" />
                <span asp-validation-for="MobileNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><span class="text-danger">*</span>Address</label>
                <input type="text" class="form-control" placeholder="Enter Address" asp-for="Address" />
                <span asp-validation-for="Address" class="text-danger"></span>
                <div class="form-group">

                    <div class="form-group">
                        <label><span class="text-danger">*</span>Category Name</label>
                        <select class="form-control" asp-for="ContactCategoryID" asp-items="@(new SelectList(ViewBag.ContactCategoryList,"ContactCategoryID","ContactCategoryName"))">
                            <option value="">Select Category</option>
                        </select>
                        <span asp-validation-for="ContactCategoryID" class="text-danger"></span>
                    </div>

                </div>
            <div class="form-group">
                    <label><span class="text-danger">*</span>Profession</label>
                <input type="text" class="form-control" placeholder="Enter Profession" asp-for="Profession" />
                    <span asp-validation-for="Profession" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label><span class="text-danger">*</span>Company Name</label>
                <input type="text" class="form-control" placeholder="Enter Company Name" asp-for="CompanyName" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label><span class="text-danger">*</span>Designation</label>
                <input type="text" class="form-control" placeholder="Enter Designation" asp-for="Designation" />
                    <span asp-validation-for="Designation" class="text-danger"></span>
            </div>

                <div class="form-group">
                    <label><span class="text-danger">*</span>Photo</label>
                    <input type="file" class="form-control" placeholder="Upload File" asp-for="File" />
                    
                </div>
            <div class="form-group">
                <label>Created</label>
                <input type="date" class="form-control" asp-for="CreationDate" />
            </div>
            <div class="form-group">
                <label>Modified</label>
                <input type="date" class="form-control" asp-for="ModifiedDate" />
            </div>
            <hr />
                <input type="button" value="Cancel" class="btn btn-danger" onclick="location.href='@Url.Action("Index", "CON_Contact")'" />
            <button type="Submit" class="btn btn-info">Save</button>

        </form>


    </div>
</div>

<script>
    function fnOnStateChange() {
        var CountryID = $("#CountryID").val();
        if (CountryID !== "") {
            $("#StateID").empty();
            $("#StateID").append($("<option></option").val("").html("Select State"));
            $.ajax(
                {
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("DropDownByCountry","CON_Contact")" + "?&CountryID=" + CountryID,
                    data: {},
                    dataType: "json",
                    success: function (Result) {
                        $.each(Result,
                            function (key, value) {
                                $("#StateID").append($("<option></option>").val(value.stateID).html(value.stateName));
                            });
                    },
                    error: function (r) {
                        alert("Error while loading combobox.");
                    }

                });

        } else {
            $("#StateID").empty();
            $("#StateID").append($("<option></option>").val("").html("Select State"));
        }
    }

    function fnOnCityChange() {
        var StateID = $("#StateID").val();
        if (StateID !== "") {
            $("#CityID").empty();
            $("#CityID").append($("<option></option").val("").html("Select City"));
            $.ajax(
                {
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("DropDownByState","CON_Contact")" + "?&StateID=" + StateID,
                    data: {},
                    dataType: "json",
                    success: function (Result) {
                        $.each(Result,
                            function (key, value) {
                                $("#CityID").append($("<option></option>").val(value.cityID).html(value.cityName));
                            });
                    },
                    error: function (r) {
                        alert("Error while loading combobox.");
                    }

                });

        } else {
            $("#CityID").empty();
            $("#CityID").append($("<option></option>").val("").html("Select City"));
        }
    }

</script>