
@{
    ViewData["Title"] = "Country List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Data
@model DataTable

  
   

<div class="page-bar " style="padding: 10px 0px 0px 43px;">
    <ul class="page-breadcrumb">
        <li>
            <a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i>&nbsp;Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a asp-controller="LOC_Country" asp-action="Index">Country List</a>
            <i class="fa fa-circle"></i>
        </li>
    </ul>
</div>





<div class="portlet light bordered margin-top-10">
    <div class="portlet-title">
        <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase">Country List</span>
        </div>
        <div class="actions">
            <div class="btn-group btn-group-devided">
                <a asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="Add" class="btn green btn-rounded"><i class="fa fa-plus"></i>&nbsp;Add Country</a>
            </div>
        </div>
    </div>
    

        <form method="post" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="Search">
            <div class="row">

                <div class="col-sm-3" >
                <input type="text" class="form-control rounded-pill" name="CountryName" placeholder="Country Name" value="@ViewBag.CountryName" />
                   
                </div>
                <div class="col-sm-3">
                <input type="text" class="form-control rounded-pill" name="CountryCode" placeholder="Country Code" value="@ViewBag.CountryCode" />
                   
                </div>
            
           
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-success rounded-pill" asp-action="Search">Search</button>
                    &nbsp;
                    <a class="btn btn-danger rounded-pill" asp-action="Index">Cancel</a>
                </div>
           
            </div>
        </form>


    </div>
    <div class="portlet-body">
        <div class="pull-right">
            <div class="dataTables_filter">
                <label>Search Any&nbsp;<input type="text" class="form-control input-sm input-small input-inline" id="search"></label>
            </div>
        </div>

        <table class="table table-striped table-bordered table-hover table-header-fixed dataTable" id="search">
            <thead>
                <tr>
                    @*<th>Country ID</th>*@
                    <th style="padding: 8px;">Country Name</th>
                    <th style="padding: 8px;">Country Code</th>
                    <th class="text-center">Created</th>
                    <th class="text-center">Modified</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody id="search_row">
        @foreach(DataRow dr in Model.Rows)
        {
        <tr>         
            <td style="padding: 8px;">@dr["CountryName"]</td>
                        <td style="padding: 8px;">@dr["CountryCode"]</td>
                        <td class="text-center">@Convert.ToDateTime(dr["CreationDate"]).ToString("dd-MM-yyyy")</td>
                        <td class="text-center">@Convert.ToDateTime(dr["ModifiedDate"]).ToString("dd-MM-yyyy")</td>
                        <td class="text-center">
                <form method="post" asp-controller="LOC_Country" asp-action="Delete">
                        <input type="hidden" name="CountryID" value="@Convert.ToInt32(dr["CountryID"])" />
                        <button type="submit" class="btn btn-danger btn-xs" id="abs" onclick="fun1()">
                                    <i class="fa fa-close"></i>
                        </button>
                                <a class="btn btn-info btn-xs" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="Add" asp-route-countryid="@Convert.ToInt32(dr["CountryID"])"><i class="fa fa-pencil"></i></a>
                </form>
                    
           
            </td>
            
        </tr>
        }
      </tbody>
</table>
</div>


    
